body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#masthead {
  margin: 0;
  padding-bottom: 3.5rem;
  background: url(assets/homepage-masthead-test-desktop-320.jpg) no-repeat
    center center fixed;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
}

#ribbon {
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

#library {
  background-color: black;
}

#adBlurb {
  /* border: 1px solid red; */
}

.wrapper {
  margin: auto;
  text-align: center;
  padding: 1rem;
  width: 40vw;
}

.superhead {
  margin: 10rem auto 0.5rem auto;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0 0 0;
  min-height: auto;
  width: 42%;
  max-width: 300px;
}

.subhead {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 670px;
}

.secondary-message {
  margin: auto;
  padding-bottom: 2rem;
}

.btn-free-trial {
  display: inherit;
  margin: auto;
  padding: 1.5rem 2rem;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  transform: translateY(0);
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.btn-free-trial:hover {
  background: rgba(255, 255, 255, 0.6);
}

.masthead-legal {
  display: block;
  margin: 1.25rem auto;
  font-size: 0.75rem;
  opacity: 0.6;
}

.white {
  color: rgb(255, 255, 255);
}

.green {
  color: rgb(45, 189, 157);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.tiny-reg {
  font-size: 0.75rem;
}

.login {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: transparent;
  border: none;
  letter-spacing: 0.5px;
  font-weight: 800;
  font-size: 1rem;
  opacity: 0.9;
}

.login:hover {
  color: #b9b9b9;
}

.ribbon-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  padding: 2rem 0 0 2rem;
}

.ribbon-brand-img {
  max-width: 355px;
}

.ribbon-info {
  padding-top: 2rem;
  text-align: left;
}

.ribbon-eyebrow {
  /* margin: 1.5rem auto auto auto; */
}

.ribbon-details-container {
  margin: 1rem auto;
}

.ribbon-get-deal {
  font-size: 1.7rem;
}

.ribbon-more-details {
  padding: 1rem 0;
}

.view-ribbon-more-details {
  display: inline-block;
  /* margin: 1.2rem auto 2rem auto; */
  text-decoration: underline;
  opacity: 0.6;
  line-height: 0.7rem;
  cursor: pointer;
}

.ribbon-btn-container {
  padding-top: 2rem;
}

.btn-get-bundle {
  display: inherit;
  margin: 1.5rem auto 0.5rem auto;
  padding: 1.3rem 2.5rem;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.3rem;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  cursor: pointer;
}

.btn-terms {
  text-decoration: underline;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  opacity: 0.6;
}

.library-header {
  position: relative;
  display: flex;
  flex-direction: column;
  /* max-width: 786px; */
  margin: 0 auto;
}

.library-content {
  text-align: center;
  margin: 0 auto;
  padding-top: 6rem;
}

.library-eyebrow {
  font-size: 1rem;
  letter-spacing: 2px;
}

.library-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -0.5;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.library-description {
  max-width: 900px;
  margin: 0 auto 3rem auto;
  padding-top: 1rem;
  line-height: 2.5rem;
  font-size: 1.8rem;
}

.library-grid-container {
  background-color: black;
  margin: 0 auto;
  padding: 0 1.3rem 3rem;
  position: relative;
  max-width: 80%;
  z-index: 2;
}

.library-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.library-grid-item {
  cursor: pointer;
  position: relative;
  text-align: left;
}

.library-item-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.library-item-background {
  width: 100%;
  object-fit: contain;
}

.library-item-overlay {
  padding: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
}

.library-item-eyebrow {
  margin-bottom: 0.6rem;
  line-height: 12px;
}

.library-item-category {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 800;
}

.library-item-legal {
  font-size: 0.7rem;
  line-height: 1rem;
  padding-top: 0.7rem;
}

/* @media screen and (min-width: 1021) {
  #masthead {
    background-image: url(assets/homepage-masthead-test-desktop-320.jpg);
  }
} */

@media (max-width: 1024px) {
  .library-grid-container {
    max-width: 680px;
    padding: 0 0 100px;
  }

  .library-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  #ribbon {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .ribbon-row {
    grid-template-columns: 1fr;
    margin: auto;
    align-content: center;
  }
  .ribbon-info {
    text-align: center;
  }

  .ribbon-btn-container {
    padding-top: 0;
    padding-bottom: 4rem;
  }

  .logo {
    width: 500px;
  }
}
